export AWS_ACCESS_KEY_ID="test"
export AWS_SECRET_ACCESS_KEY="test"
export AWS_DEFAULT_REGION="us-east-1"

_plugin_exec () {
    docker-compose exec \
        -e AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} \
        -e AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} \
        -e AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION} \
        -u www-data \
        -w /var/www/html/wp-content/plugins/s3-offloader \
        wordpress "$@"
}

_www_Texec () {
    docker-compose exec -u www-data -T wordpress "$@"
}

composer () {
    _plugin_exec /usr/bin/composer "$@";
}
export composer

phpcbf () {
    _plugin_exec ./vendor/bin/phpcbf "$@";
}
export phpcbf

phplint () {
    _plugin_exec ./vendor/bin/phplint "$@";
}
export phplint

phpunit () {
    _plugin_exec ./vendor/bin/phpunit "$@";
}
export phpunit

wp () {
    _www_Texec /usr/local/bin/wp "$@";
}
export wp
