services:
  wordpress:
    build:
      context: .
    image: local-wp-s3-offloader
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ./:/var/www/html/wp-content/plugins/s3-offloader
      - wordpress_data:/var/www/html
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 5

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 10s
      retries: 5

  localstack:
    image: localstack/localstack
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      - DEBUG=${DEBUG:-0}
    volumes:
      - localstack_data:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 30s
      timeout: 10s
      retries: 5

  # intelephense:
  #   build:
  #     context: .
  #   image: local-wp-s3-offloader
  #   command: [ "socat", "-v", "-d", "EXEC:'intelephense --stdio',stderr", "TCP4-LISTEN:5657,fork,reuseaddr" ]
  #   # command: [ "ncat", "-o", "/dev/stdout", "-v", "-l", "-k", "-p", "5657", "-c", "'intelephense --stdio'"]
  #   ports:
  #     - "127.0.0.1:5657:5657"
  #   working_dir: ${PWD}
  #   volumes:
  #     - ./:${PWD}
  #     - wordpress_data:/var/www/html

volumes:
  wordpress_data:
  db_data:
  localstack_data:

